<footer>
  <div
    class="notice"
    style="margin-block: 0; color: var(--text); font-size: 1rem; text-align: left;"
  >
    <h3 style="margin-block: 0 1rem;" aria-level="2">Ontdek Pinefolk</h3>
    <p>
      Pinefolk is een betaalde whitelisted Minecraft-survivalserver. We zijn er om een
      leuke communityserver te creëren waar iedereen een plek heeft en lekker samen kan
      spelen. We zijn niet hardcore of PvP, gewoon simpel Minecraft spelen zoals je dat
      vroeger deed, dat is Pinefolk.
    </p>
    <a
      class="button"
      style="margin-top: 1.5rem; margin-bottom: 0; width: 100%; text-align: center;"
      href="https://patreon.com/pinefolk"
      >Word Lid</a
    >
  </div>
  <p>
    &copy
    <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script>
    Pinefolk
  </p>
</footer>
