<footer>
  <div
    class="notice"
    style="margin-block: 0; color: var(--text); font-size: 1rem; text-align: left;"
  >
    <h3 style="margin-block: 0 1rem;" aria-level="2">Ontdek Pinefolk</h3>
    <p>
      {{ global_description }}
    </p>
    <a
      class="button"
      style="margin-top: 1.5rem; margin-bottom: 0; width: 100%; text-align: center;"
      href="https://patreon.com/pinefolk"
      >Lid worden</a
    >
  </div>
  <p>
    &copy
    <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script>
    Pinefolk
  </p>
</footer>
