<header class="site-head">
  <div class="site-head__inner">
    <nav class="site-head__nav">
      <ul>
        <li><a href="{{ "/" | url }}">Home</a></li>
        <li><a href="{{ "/" | url }}">Over</a></li>
        <li><a href="{{ "/regels" | url }}">Regels</a></li>
        <li><a href="{{ "/gids/lid-worden" | url }}">Documentatie</a></li>
      </ul>
    </nav>
    <a href="https://patreon.com/pinefolk" class="button">Word Lid</a>
  </div>
</header>
