/*
WRAPPER COMPOSITION 
A common wrapper/container
*/
.wrapper {
  margin-inline: auto;
  max-width: clamp(16rem, var(--wrapper-max-width, 100vw), 60rem);
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  background: var(--color-surface-raised);
  border: 0.1em solid var(--color-outline-default);
}

.wrapper > * {
  position: relative;
  z-index: 1;
}

.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper::before {
  border-bottom: 0.2em solid var(--color-border-dark);
  border-right: 0.2em solid var(--color-border-dark);
}

.wrapper::after {
  border-top: 0.2em solid var(--color-border-light);
  border-left: 0.2em solid var(--color-border-light);
}
