---
description:
    "Pinefolk is een betaalde whitelisted Minecraft-survivalserver waar je gewoon lekker samen kunt spelen, net zoals vroeger. Geen hardcore, geen PvP, wel een hechte community waar iedereen welkom is."
layout: base.liquid
---
<h2>Over Pinefolk</h2>
<h3 id="mods-en-aanpassingen">Mods en aanpassingen</h3>
<p>
  Pinefolk is een vanilla Minecraft-survivalserver, maar gebruikt wel een paar mods en
  aanpassingen om de ervaring te verbeteren.
</p>
