button,
.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: var(--leading-flat);
  color: var(--color-text-on-dark-primary) !important;
  background: var(--color-surface-action);
  text-shadow: 0.1em 0.1em var(--color-shadow-text);
  padding: 0.75em 1.5em;
  border: var(--px) solid var(--color-outline-action-default);
  min-width: fit-content;
}

button::before,
button::after,
.button::before,
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button::before,
.button::before {
  border-top: var(--px) solid var(--color-border-action-light);
  border-left: var(--px) solid var(--color-border-action-light);
}

button::after,
.button::after {
  border-bottom: calc(var(--px) * 2) solid var(--color-border-action-dark);
  border-right: var(--px) solid var(--color-border-action-dark);
}

button:hover,
.button:hover {
  border-color: var(--color-outline-action-hover);
}

button:focus,
.button:focus {
  outline: var(--px) solid var(--color-outline-action-focus);
}
