.mc-inventory {
  position: relative;
  background: var(--color-surface-raised);
  border: var(--px) solid var(--color-outline-default);
  padding-block: 1em;
}

.mc-inventory > * {
  position: relative;
  z-index: 1;
}

.mc-inventory::before,
.mc-inventory::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mc-inventory::before {
  border-bottom: calc(var(--px) * 2) solid var(--color-border-dark);
  border-right: calc(var(--px) * 2) solid var(--color-border-dark);
}

.mc-inventory::after {
  border-top: calc(var(--px) * 2) solid var(--color-border-light);
  border-left: calc(var(--px) * 2) solid var(--color-border-light);
}
