.site-head {
  font-size: 1.125rem;
}

.site-head .site-head__inner {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.site-head .site-head__nav > ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 0.25em;
  list-style: none;
  margin: 0;
  padding: 0;
}
