/* @font-face here */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Mojangles";
  src: url("../fonts/Minecraft-Seven.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
