/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  background: var(--color-surface-page);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
}
