/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  color: var(--color-text-subtle);
  background: url("/img/background.png") center top / 64px auto;
  font-family: var(--font-base);
  line-height: var(--leading-standard);
  display: flex;
  margin: 0;
  padding: 1rem 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-primary);
  line-height: var(--leading-flat);
}

strong {
  color: var(--color-text-default);
  font-weight: normal;
}

a,
a:visited {
  color: var(--color-green);
  text-decoration-thickness: 0.1em;
}

a:hover {
  text-decoration: none;
}
